extends base.pug

block scripts
    script(src='/static/index.js')

block style
    style
        include ../static/style.css
        include ../static/styleClassInfo.css

block content
    div(class="container")
    H1 ClassInfo