extends base.pug

block scripts
    script(src='/static/index.js')

    block style
        style
            include ../static/style.css

block content

    section#introSection
        div Welcome to Sumit's Music Academy
        div.small Eat Sleep Music Repeat
    section#sponsorsSection
        h2 Our Sponsors
            img(src= "/static/img/img1.png", alt= "Sponsor Image", class= "spImage")
            img(src= "/static/img/img2.png", alt= "Sponsor Image", class= "spImage")
            img(src= "/static/img/img3.png", alt= "Sponsor Image", class= "spImage")
            img(src= "/static/img/img4.png", alt= "Sponsor Image", class= "spImage")
    section#missionSection
        h2 Our Mission
        div.card
            h3 Music Perfection
            div.card-box
                div.card-img
                    img(src="/static/img/1.png")
                div.card-content
                    p This is the best Music academy for beginners

        div.card
            h3 Play the way you like
            div.card-box
                div.card-img
                    img(src="/static/img/2.png")
                div.card-content
                    p This is the best Music academy for beginners

        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/img/3.png")

                div.card-content
                    p This is the best Music academy for beginners
