@import url('https://fonts.googleapis.com/css2?family=Amita&display=swap');


h1{
    text-align: center;
    margin: 12px 0;
}

.myForm{
    display: flex;
    width: 1235px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    min-height: 94vh;
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

.myInput{
    font-size:  16px;
    width: 40%;
    padding: 9px;
    margin: 8px;
    border: 2px solid #9d8e8e;
    border-radius: 12px;
    outline: none;
}

.btn{
    font-family: 'Amita', cursive;
    padding: 3px 20px;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    background:#9d8e8e;
    cursor: pointer;
}
